/* ... (Vos styles CSS existants) ... */

        /* Style du bouton d'impression */
        #printBtn {
            padding: 12px 24px;
            background-color: #4CAF50; /* Vert, couleur souvent associée à l'impression */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 20px; /* Ajouter un peu d'espace en dessous */
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            transition: background-color 0.3s ease; /* Animation de transition au survol */
            font-size: 1em; /* Taille de la police */
            font-weight: bold; /* Texte en gras */
        }

        #printBtn:hover {
            background-color: #45a049; /* Vert légèrement plus foncé au survol */
        }